* {
    margin: 0;
    padding: 0;
}

body {
    background-color: RGB(223, 215, 185);
    color: RGB(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #0d1b97;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
h2 {
    font-size: 20px;
    padding: 5px 0 5px 0;
}

.job-title {
    background: #1726ad;
    color: #898dbe;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

#high {
    color: rgb(12, 27, 151);
}
ul {
    background: #333333;
    color: rgb(223, 215, 185);
    padding: 10px;
}
main {
    padding: 5px;
}